<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if site.title-img %}
      <a class="navbar-brand navbar-brand-logo" href="{{ site.baseurl }}/">
        <img src="{{ site.title-img }}" />
      </a>
      {% else %}
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      {% endif %}
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        {% for link in site.navbar-links %} {% if link[1].first %}
        <li class="navlinks-container">
          <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
          <div class="navlinks-children">
            {% for childlink in link[1] %} {% for linkparts in childlink %} {% include navbarlink.html link=linkparts %} {% endfor %}
            {% endfor %}
          </div>
        </li>
        {% else %}
        <li>
          {% include navbarlink.html link=link %}
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>

    {% if page.image and (layout.show-avatar or page.show-avatar) %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ site.baseurl }} ">
          <img class="avatar-img" src="{{ page.image | prepend: site.baseurl | replace: '//', '/' }}" />
        </a>
      </div>
    </div>
    {% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ site.baseurl }} ">
          <img class="avatar-img" src="{{ site.avatar | prepend: site.baseurl | replace: '//', '/' }}" />
        </a>
      </div>
    </div>
    {% endif %}

  </div>
</nav>